name:
  nextjs-ts-pwa-pr-review

on:
  pull_request:
    types: [opened, synchronize, reopened, edited, review_requested, review_request_removed]

jobs:
  pr-review:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10]
    
    steps:
      # checkout repository
      - name: Checkout Repo
        uses: actions/checkout@v2

      # prepare node runtime
      - name: Prepare Node Env
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      
      # confirm node version
      - name: Node Version
        run: node -v
      
      # install dependencies
      - name: Install Dependencies
        run: yarn

      # Run Danger
      - name: Run Danger
        run: yarn danger:ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
